<div class="container">
  <h1 class="text-center well col-md-8 col-md-offset-2">Idea Box</h1>
</div>
<div class="col-md-8 col-md-offset-2 well">
  <div class="ideas">
    <h3 class="text-center">I have an idea!</h3>
    <div class="col-md-10 col-md-offset-1">

      <div class="form-group">
        <input class="form-control" type="text" id="new-idea-title" placeholder="Title">
        <textarea class="form-control" id="new-idea-body" rows="6" placeholder="Body"></textarea>
        <input class="btn btn-info btn-block submit" id="create-idea" type="button" name="submit" value="Create Idea">
      </div>
    </div>
    <h2 class="text-center">Other People's Ideas</h2>
  </div>
</div>
